h3 {background-color: yellow;}
.h3 {background-color: aqua;}
#h3 {background-color: lightcoral;}

#div1{background-color: gold; width:200px; height:200px}
.class01{background-color:khaki; width:200px; height:200px}
.class02{background-color:lightblue; width:200px; height:200px}
#div1, .class01, .class02{color:chocolate; width:400px;}
#div2{width:200px;}
.class03{height:200px; backgroundcolor:rgb(87, 28, 28);}
#div3{color:blue width:200px;}
#div4{background-color:aqua;}

h1 {color: skyblue;}
h1 {background-color:gray;}