/*
 ( 총 width - 여백수 * 여백 Width ) / item수 = item width
    ( 300 - 2 * 20px ) / 3 = box witdh size -> 86.666으로 함
 */

#div4{ border:1px solid; width:300px; height: 200px; }
#div4 div { width:86.666px; height:100px; background-color: red; display:inline-block; margin-right:20px; }

/*
#div4 :nth-of-type(1){ margin-right:10px;}
#div4 :nth-of-type(2){ margin-right:5px;}
*/
/*
#div4 div:nth-of-type(1){ background:aqua; margin-right:0;}
마지막에 마진 라이트 0으로 해서 큰 틀에 들어갈 수 있도록 함*/
#div4 div:nth-child(3n){margin-right:0;}

#span{background-color: gold; width: 200px; margin:auto; text-align:right; display:block; }

#div2{ width: 100px; height: 100px; background-color: red; margin: auto;}
#div3{ width: 200px; height: 200px; background-color: green;}
#div3 > div { margin: auto; width: 50px; height: 50px; background-color: gold;}

#div1 { background-color: goldenrod; width:300px; height:300px; border: 15px solid navy; 
/* margin: 50px 0 0 50px */
 margin:25px 100px;
 margin-top:100px;
 padding-top: 100px;
 }