#div1 { width:1200px; height:1200px; background-image:url(cat.jpg); border:1px solid;
        background-repeat: no-repeat;
        background-size: 1200px 1200px; /*가로 세로 아니면 cover라고 쳐서 전체 커버 가능*/
        background-position: 300px 200px; /*위 왼*/
        /*
        background :url("이미지") no-repeat 200px 200px / 100px 100px
        */
        }

#div1:hover { background-image:url(b.jpg); color: red;}

#div div {width:50px; height:50px; }