#modal{ position:absolute; background-color: rgba(0,0,0,0.2);
    top:0; left: 0;
}
a {position:absolute; z-index:10; background-color:gold;
}

#static2, #relative2, #absolute2, #fixed2 {width:100px; height: 100px;}
#static2 {background-color: rebeccapurple; z-index: 1;}
#relative2 {background-color: gray; position:relative; top: -75px; left:25px; z-index: 2;}
#absolute2{background-color:aqua; position: absolute; top: 50px; left: 50px;  z-index: 1;}
#fixed2{background-color:burlywood; position: fixed; top: 75px; left:75px;    z-index: 3;}

#wrap {width:300px; height:800px; background-color:green; margin:100px auto; margin: 300px auto; }
#wrap > div { width: 100px; height: 100px;}
#wrap > div > div {width:50px; height: 50px; background-color: aquamarine;}    

#relative{background-color: red; top: 300px; left: 50px; position:relative;
    & > div {top:50px; left:10px; position: inherit; background-color: black;
    } }
#absolute{background-color: gold; top: 300px; right: 50px; position:absolute;
    & > div {top:50px; left:10px; position: relative; background-color: black;
} }

#fixed{background-color: navy; top: 300px; left: 50px; position:fixed;
    & > div {top:50px; left:10px; position: absolute; background-color: black;
}  }