#nav {width:400px; background-color: green;}

#list{ background-color: gold;}
.class list { background-color: skyblue; height:0px; overflow: hidden; transition: 0.5s;}

li{width:100px; height:40px; line-height:40px; list-style: none; text-align:center; }
ul{margin:0; padding:0;}