#div1 {width:1200px; height:216px; border: 1px solid gray; margin: auto;}

#div1 div { background-size: cover; width:216px; height:216px; background-color: aquamarine; display:inline-block;}

#div1 span { color:brown; margin:auto; display: block; width: 100px; display:block; margin-top:100px; border-radius: 15px; text-align: center; font-size:20px; border:4px solid lightgray; opacity:0.8;}
#div1 span:hover { color: white; background: gold; border-radius: 15px; opacity:0.8; transiton: all 0.1s}

#div1 div:nth-child(1) { background-image:url(a.jpg); width:216px; height:216px; margin-right:30px;
}
#div1 div:nth-child(2) { background-image:url(b.jpg); width:216px; height:216px; margin-right:30px;
}
#div1 div:nth-child(3) { background-image:url(c.jpg); width:216px; height:216px; margin-right:30px; 
}
#div1 div:nth-child(4) { background-image:url(d.jpg); width:216px; height:216px; margin-right:30px; 
}
#div1 div:nth-child(5) { background-image:url(e.jpg); width:216px; height:216px; margin-right:0px;
}
