#wrap{ width:200px; height:500px; border:3px solid black;}

#logo {width: 180px; height: 180px; overflow: hidden;}
#logo > img {border: 1px solid gray; width:170px; height:170px;  border-radius: 180px; 
             &:hover{transform: scale(1.5); transition: all 0.3s;} }

.item {width: 200px; height: 230px; border:1.5px solid gray; overflow: hidden;}

.item div img { width:170px; height:170px; overflow: hidden; &:hover{transform: scale(1.5)}; transition: all 0.3s; overflow: hidden; }

.item div:nth-child(2) > a { color:black; text-decoration:none; &:hover{color:red} }

.item div:nth-child(3) {color:blue; text-align: right}

#logo ~ button{color:white; background-color:gray; border:none; border-radius:20px; &:hover{background-color:yellowgreen}}