
#header{display: flex; width:700px; height:100px;}
#title_logo { width:100px; height: 100px; background-image:url(cat.jpg); background-size: cover; border-radius:200px; margin:0 0;}
#nav {display: flex; background-color: lightblue; justify-content: space-between; width: 600px; 
}
#nav ul {list-style: none; background-color:cadetblue; display: flex; align-items: center ;}

#nav ul li {margin:0 10px;}

#nav ul li a{ text-decoration: none; color:white; font-size: 20px; 
            &:hover{color:olive; border-bottom: 5px solid blueviolet; padding-bottom: 5px; transition:0.25s} }

#nav ul:nth-child(2) a { font-size:13px; color: lightgray;}