#wrap2{background-color:bisque; width:400px; margin:0 auto;}
#header{background-color:green;}
#main{background-color:lightblue; height:100px; margin:0 auto; display: flex;}
#footer{background-color:brown;}

#list{background-color:yellow; width:20%}
#section{background-color:cadetblue; width:60%}
#section > div {background-color:azure; width: 70%; margin:auto;
    & div { border:2px solid; margin-top: 5px; }
}
#side{background-color:yellow; width:20%}

/* */

#p{background-color: lightgray; width:400px; margin:0 auto;}
#p > :nth-of-type(1) {background-color:green;}
#p > :nth-of-type(2) {
    display:flex;
    height:100px; background-color: grey;
    & > :nth-of-type(1) {width:100px; background-color: aliceblue;}
        :nth-of-type(2) {width:250px; background-color: cadetblue;} 
#rap >  :nth-of-type(3) {background-color: yellowgreen;}  }

/* 구분선 */

#rap{background-color: lightgray; width:400px; margin:0 auto;}
#rap > :nth-of-type(1) {background-color:green;}
#rap > :nth-of-type(2) {
    display:flex;
    height:100px; background-color: grey;
    & > :nth-of-type(1) {width:100px; background-color: aliceblue;}
        :nth-of-type(2) {width:250px; background-color: cadetblue;} 
        :nth-of-type(3) {width:250px; background-color: yellowgreen;} 
#rap >  :nth-of-type(3) {background-color: pink;}  }

/* 구분선 */

#wrap{background-color: bisque; width:400px; margin:0 auto;}

#wrap > :nth-of-type(1) {background-color: azure;}
#wrap > :nth-of-type(2) {
    display:flex;
    height:100px; background-color: chocolate;
    & > :nth-of-type(1) {width: 100px; background-color: aliceblue;}
        :nth-of-type(2) {width: 300px; background-color: cadetblue;}
}

#wrap > :nth-of-type(3) {background-color: green;}